---
layout: default
---

{% for post in site.posts %}
{% if post.next.url == null %}
	<article>
		<section>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		</section>

		<section>
			<p class="center grey">
				<small>
					by <a href="{{ site.author_url }}" target="_blank">{{ site.author }}</a>
					| {% assign words = post.content | number_of_words %}{% if words < 360 %}1 min{% else %}{{ words |
						divided_by:180 }} mins{% endif %} de leitura </small>
			</p>
		</section>

		<section>
			{{ post.content }}
		</section>
	</article>

	<hr>

	<section>
		<p class="center grey">postado em {{ post.date | date: "%d/%m/%Y" }}</p>
	</section>
	
	<nav>
		<ul class="navigation center grey">
			<li><a href="{{ site.url }}/{{ post.previous.url }}" title="{{ post.previous.title }}">anterior</a></li>
		</ul>
	</nav>
{% endif %}
{% endfor %}