---
layout: default
---

<header>
	<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
</header>

<main>
	<section>
		<p class="center grey">
			<small>
				by <a href="{{ site.author_url }}" target="_blank">{{ site.author }}</a>
				| {% assign words = content | number_of_words %}{% if words < 360 %} 1 min {% else %}{{ words |
					divided_by:180 }} mins {% endif %}de leitura </small>
		</p>
	</section>

	<article>
		{{ content }}
	</article>

	<hr>

	<section>
		<p class="center grey">postado em {{ page.date | date: "%d/%m/%Y" }}</p>
	</section>
</main>

<nav>
	<ul class="navigation center grey">
		{% if page.previous.url %}
		<li><a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">post anterior</a></li>
		{% endif %}
		{% if page.next.url %}
		<li><a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">próximo post</a></li>
		{% endif %}
	</ul>
</nav>